
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-2 left-side">
      <navigation-section></navigation-section>
    </div>
    <div class="col-12 col-sm-12 col-md-10 right-side">
      <div class="flex-column-container">
        <header class="my-header"></header>
        <user-list class="my-user-list"></user-list>
        <pagination class="my-pagination" style="display: flex; justify-content: center;"></pagination>
      </div>
    </div>
  </div>
</div>
