
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 left-side">
      <navigation-section></navigation-section>
    </div>
    <div class="col-md-10 right-side">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <header style="margin-top: 5rem;"></header>
        <user-list></user-list>
        <div style="margin-top: 4rem; margin-bottom: 4rem;"> 
          <pagination></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
