<div class="container-fluid">
  <div class="row top">
    <ul class="navigation-menu">
      <li>
        <img src="/assets/icons/envelope-icon.png" alt="Home Icon">
        top1
      </li>
      <li>
        <img src="/assets/icons/envelope-icon.png" alt="Home Icon">
        top2
      </li>
    </ul>
  </div>

  <div class="row center">
    <ul class="navigation-menu">
      <li>
        <img src="/assets/icons/envelope-icon.png" alt="Home Icon">
        Home
      </li>
      <li>
        <img src="/assets/icons/envelope-icon.png" alt="Home Icon">
        Home
      </li>
      
      <li>
        <img src="/assets/icons/envelope-icon.png" alt="Home Icon">
        Home
      </li>
      <li>
        <img src="/assets/icons/envelope-icon.png" alt="Home Icon">
        Home
      </li>
      <li>
        <img src="/assets/icons/envelope-icon.png" alt="Home Icon">
        Home
      </li>
    </ul>
  </div>

  <div class="row bottom">
    <ul class="navigation-menu">
      <li>
        <img src="/assets/icons/settings-icon.png" alt="Home Icon">
        Settings
      </li>
      <li>
        <img src="/assets/icons/logout-icon.png" alt="Home Icon">
        Logout
      </li>
    </ul>
  </div>
</div>
