<div class="container-fluid">
  <div class="row">
    <ul class="navigation-menu">
      <li>
        <i class="fa-solid fa-house"></i>
        Home
      </li>
      <li>
        <i class="fa-solid fa-backward-step"></i>
        Back
      </li>
    </ul>
  </div>

  <div class="row">
    <ul class="navigation-menu">
      <li>
        <i class="fa-solid fa-box"></i>
        Products
      </li>
      <li>
        <i class="fa-solid fa-user"></i>
        Customers
      </li>
      
      <li>
        <i class="fa-solid fa-chart-simple"></i>
        Stats
      </li>
      <li>
        <i class="fa-solid fa-message"></i>
        Messages
      </li>
      <li>
        <i class="fa-solid fa-bolt"></i>
        Other
      </li>
    </ul>
  </div>

  <div class="row">
    <ul class="navigation-menu">
      <li>
        <i class="fa-solid fa-gear"></i>
        Settings
      </li>
      <li>
        <i class="fa-solid fa-right-from-bracket"></i>
        Logout
      </li>
    </ul>
  </div>
</div>
