@import 'variables';

:host {
    .tab-section {
        background-color: rgba(179, 117, 12, 0.244);
        min-height: 100vh;
        min-width: 25vh;
        padding: 20px;

        h1, h2 {
            margin-top: 0;
            margin-bottom: 10px;
        }

        hr {
            border: none;
            border-top: 1px solid #000;
            margin: 20px 0;
        }
    }
    
    .content-section {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    
}
