    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <p style="
                    background-color: red; 
                    display: flex; 
                    color: white;
                    font-weight: bold;
                    justify-content: center;" class="col-lg-12">RESPONSIVE TEXT
                </p>
            </div>

            <div class="col-md-12">

                <user-item
                    *ngFor="let user of (users$ | async) | filter:filteredString;"
                    [user]="user">
                </user-item>

                <ng-container *ngIf="((users$ | async) | filter: filteredString) as filteredItems">
                    <div *ngIf="filteredItems.length > 0"></div>
                    
                    <p *ngIf="filteredItems.length === 0">No results found for "{{ filteredString }}"</p>
                </ng-container>

            </div>
        </div>
    </div>
        
