    <div class="container">
        <div class="row">
            <div class="col-12">

                <user-item
                    *ngFor="let user of users | filter:filteredString;"
                    [user]="user">
                </user-item>

                <ng-container *ngIf="(users | filter: filteredString) as filteredItems">
                    <div *ngIf="filteredItems.length > 0"></div>
                    
                    <p *ngIf="filteredItems.length === 0">No results found for "{{ filteredString }}"</p>
                </ng-container>

            </div>
        </div>
    </div>
        
