<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-4 hide-on-small">
        <h2>Dashboard</h2>
      </div>
      <div class="col-md-4 col-xs-12" [formGroup]="testForm"> 

        <input formControlName="testValue1" 
        type="text"
        (input)="onInputChange($event)"          
        >

        <!-- <tui-input formControlName="testValue1">
          Search a user
          <input
            tuiTextfield
            tuiTextfieldSize="l"
            (input)="onInputChange($event)"          
          />
        </tui-input> -->
      </div>
      <div class="col-md-4 hide-on-small">
        <span>Username</span>
      </div>
    </div>
  </div>
</div>
