@import 'variables';

:host {
	
  .header {
    background-color: #f7eedf95;
    padding: 1rem;
    margin-bottom: 2rem;
    height: 9rem; 
    display: flex;
    align-items: center;
  }

  .success {
    position: relative;
    color: var(--tui-success-fill);
  }


  .field-small {
    min-height: 3.5rem;
    width: 40rem;
  }
  
  .header h2 {
    margin: 0;
  }
  
  .header input {
    width: 100%;
  }
  
  .header span {
    float: right;
  }
  
}

