@import 'variables';

:host {
	
  .header {
    background-color: #f7eedf95;
    padding: 1rem;
    margin-bottom: 2rem;
    height: 9rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 767.98px) {
    .hide-on-small {
      display: none;
    }
  }
  
  .success {
    position: relative;
    color: var(--tui-success-fill);
  }


  .field-small {
    min-height: 3.5rem;
    width: 40rem;
  }
  
  .header h2 {
    margin: 0;
  }
  
  .header input {
    width: 100%;
  }
  
  .header span {
    float: right;
  }
  
}

