<div class="container">
  <div class="row">
    <div class="box">

      <div class="col-sm-12 col-sm-3">
        <div style="display: flex; align-items: center;">
          <tui-badged-content
            colorTop="var(--tui-{{badgeStatus}}-fill)"
            size="l"
            class="tui-space_right-5"
            [rounded]="true"
            style="flex: none;"
          >
            <tui-avatar
              [text]="firstLettersOfFullname"
              size="l"
              [rounded]="true"
            ></tui-avatar>
          </tui-badged-content>
      
          <div style="display: flex; flex-direction: column; margin-left: 10px;">
            <small style="margin-bottom: 5px;">User</small>
            <p style="margin: 0;">{{ user.fullname }}</p>
          </div>
        </div>
      </div>

      <div class="phone col-xs-2 hide-on-mobile">
        <small>Phone</small>
        <p>{{ user.phone }}</p>
      </div>
      <div class="mail col-xs-2 hide-on-mobile">
        <small>Mail</small>  
        <p>{{ user.email }}</p>
      </div>

      <div class="col-xs-3 hide-on-mobile">
        <div class="small-positioning">
          <small style="margin-bottom: 1rem; margin-left: 1.8rem">Badges</small>
        <div class="avatar-parent">
          <div class="tui-avatar-stack reversed">
            <tui-avatar class="avatar-badge"
                  *ngFor="let avatarUrl of user.badges.slice(0, 5)"
                  size="l"
                  [avatarUrl]="avatarUrl"
                  [rounded]="true"
                  [autoColor]="true"
                  (click)="onAvatarClick(avatarUrl)"
            ></tui-avatar>
            <div class="count-badge" *ngIf="user.badges.length > 5">
              +{{ user.badges.length - 5 }}
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="col-xs-2 hide-on-mobile">

        <div class="small-positioning">
          <small style="margin-bottom: 1.2rem;">Status</small>

          <tui-badge
          [value]="user.status"
          size="l"
          [class]="'badge-style ' + badgeStatus"
          [hoverable]="true"
        ></tui-badge></div>
      </div>

    </div>
  </div>
</div>
<hr class="separating-line">
